
.shop-container{
    display: grid;
    grid-template-columns:4fr 1fr;
    /* position: absolute; */
    
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 45px;
    padding-left: 20px;
    padding-right: 0;
    margin: 100px 50px;
}
.cart-container{
    background-color:rgb(225, 253, 236);
    position: sticky;
    top:0;
    height: 900px;
    padding: 30px 20px;
}
.edit-choose{
    text-align: center;
    color:rgb(44, 138, 7) ;
}
.button-style{
    height: 35px;
    border: 2px solid rgb(64, 122, 41);
    background-color:rgb(204, 247, 221) ;
    color:rgb(18, 54, 3) ;
    border-radius: 15px;
}

@media screen and (max-width:1100px){
    .products-container{
        grid-template-columns: repeat(1,1fr);
    }
}