.navbar{
    background-color: rgb(225, 253, 236);
    color:rgb(44, 138, 7);
    margin: 10px;
    height:120px;
    width: 100%;
    padding-left: 50px;
    text-align: center;
    font-weight: 100rem;
}
.title{
    font-size: 30px;
    padding-bottom: 0;
}